
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<nav class="navbar navbar-expand-md  navbar "style="background-color:#030f1c";>
    <div class="container">
        <img src="{% static 'assets/img/Icone ID.png' %}" alt="" class="rounded-5" width="100px"><br>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="" style="color:white";>Infos site</a>
            </li>
        </ul>
    </div>
</nav>
Vous avez demandé la réinitialisation de votre mot de passe en indiquant ce courriel {{ email }}. Cliquez sur le lien ci-dessous :
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}