{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<nav class="navbar navbar-expand-md bg-light navbar-light ">
    <div class="container">
        <h3 class="navbar-brand text-uppercase fw-bold">
            <span class="bg-primary bg-gradient p-1 rounded-3 text-light">Ideal</span>App
        </h3>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="">Infos site</a>
            </li>
        </ul>

    </div>

</nav>

{% block content %}
<h2>Mot de passe réinitialisé.</h2>
<p>Votre mot de passe a été réinitialisé avec succès.Revenir à <a href="{% url 'login' %}">la page de connexion</a>.</p>
{% endblock %}