{% extends "acc.html" %}
{% load static %}
{% block title %}
    Download
{% endblock %}
{% block content %}
<section id="showcase">
  <div class="container">
    <h4>Télécharger le support du cours gratuitement dans IdealApp </h4>
    <p> Le support mise à la disposition des étudiants pour l'amelioration de leur connaissance professionnelle .</p>
    <p>Booster vos compétences dans la programmation web et mobile en visitant le site officiel du <a href="#"><strong>Skyblue technology</strong></a></p>
  </div>
</section>


<section id="boxes">
    <div class="container">
      <div class="box">
        <img src="{% static 'assets/img/4.jpg' %}">
        <h3>Cour python</h3>
        <p class="card-text"><strong>L1 LMD Jour et Soir</strong></p>
        <p>Python est régulièrement classé parmi les langages de programmation les plus faciles à apprendre. Il est réputé pour sa grande fiabilité et sa syntaxe simple, qui attirent en particulier les nouveaux programmeurs.</p>
        <a href="{% static 'pdf/api_python.docx' %}" class="btn btn-primary" download="Cour de la programmation python.docx">Download </a>

      </div>
      <div class="box">
        <img src="{% static 'assets/img/wamp.png' %}">
        <br>
        <br>

        <h3>Mises à Jour d'un système informatique</h3>
        <p class="card-text"><strong>L3 LMD Jour et Soir</strong></p>

        <p>Téléchargez la nouvelle version du python gratuitement pour la création de vos bases de données.</p>
        <a href="{% static 'pdf/api_python.docx' %}" class="btn btn-primary" download="Cour de la programmation python.docx">Download </a>

      </div>
      <div class="box">
        <img src="{% static 'assets/img/pyc.jpeg' %}">
        <br>
        <br>

        <h3>Pycharm</h3>
        <br>

        <p>Téléchargez Une environnement puissante et idéal de python gratuitement pour la réalisation de vos projet.</p>
        <a href="{% static 'pdf/api_python.docx' %}" class="btn btn-primary" download="Cour de la programmation python.docx">Download </a>

      </div>
      
    </div>
  </section>

  {% endblock %}
